name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - name: Set up Conda environment with Python ${{ matrix.python-version }}
    - uses: actions/checkout@v3
    - uses: s-weigand/setup-conda@v1
      with:
        python-version: ${{ matrix.python-version }}
        conda-channels: 'conda-forge'
    - name: Install dependencies
      run: |
        conda env update --file environment.yml
        conda install pylint pandas requests validators pytube
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
